
@mixin displaysall{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
@mixin styleList{
    text-decoration: none;
    list-style: none;
    font-weight: 800;
}
$font-li:16px;
$green-back:#8DCF9B;
.title-singlepost {
    text-align: center;
    margin-left: 12rem;
}
.info{
    @include displaysall();
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-right: 20rem;
    .box-info{
        @include displaysall();
        flex-direction: row;
        width: 8%;
        height: auto;
        justify-content: space-between;
        margin-left: 2rem;
        i{
            color:$green-back;
            font-size: 1.5rem;
            background-color: #8dcf9b71;
            padding: .5rem;
            border-radius: 2rem;
        }
        .text-info{
            @include displaysall();
            flex-direction: column;
            align-items: start;
            justify-content: start;
            .title-info{
                font-size: 0.7rem;
            }
        }
    }
}
.special-image{
    @include displaysall();
    justify-content: center;
    img{
        width:68%;
        margin: 2rem 0;
    }
}
.description{
    color:rgb(170, 170, 170);
    @include displaysall();
    flex-direction: row;
    justify-content: center;
    p{
        width: 68%;
    }
}
.quote-text{
    @include displaysall();
    flex-direction:row;
    justify-content: center;
    .author-text{
        // @include displaysall();
        // flex-direction: column;
        // justify-content:center ;
        width: 68%;
        h5{
            font-size: 2rem;
            width: 95%;
            text-align: justify;
        }
    }
    img{
        width: 5%;
        margin-left: 2rem;
    }
}
.image-text{
    @include displaysall();
    flex-direction: row;
    justify-content: center;
    color:rgb(170, 170, 170);
    margin: 2rem 0;
    img{
        width: 32%;
        margin-left: 2rem;
    }
    p{
        width: 36%;
    }
}
.healthy-section{
    @include displaysall();
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-right: 18rem;
    p{
        width: 68%;
        // margin-top: 0.5rem !important;
        //  margin-right: 20rem !important;
    }
    h1{
        //  margin-top: 0.5rem !important;
        //  margin-right: 20rem !important;
    }
    .list-healthy{
        color:rgb(170, 170, 170);
        // margin-right: 20rem !important;
    }
}

